<footer>
    <!--footer top-->
    <div class="footer lh-normal">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 left-block">
                    &copy; 2017 Dryfuse Campus Properties
                </div>

                <div class="col-md-6 col-sm-6">
                    <ul class="social-icons pull-right">
                        <li>
                            <a href="https://www.facebook.com/Dryprop/"><i class="fa fa-facebook"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--footer-->

<!-- back to top-->
<a href="#" class="scrollup"><i class="fa fa-angle-up"></i></a>

<!-- Js libery -->
<script src="{{ site.url }}/assets/js/jquery-3.1.1.min.js"></script>
<script src="{{ site.url }}/assets/js/bootstrap.min.js"></script>
<script src="{{ site.url }}/assets/js/modernizr.js"></script>

<!--jquery ui-->
<script src="{{ site.url }}/assets/js/jquery-ui.js"></script>

<!-- slider js -->
<script src="{{ site.url }}/assets/js/swiper.min.js"></script>

<!--Custom js-->
<script src="{{ site.url }}/assets/js/main.js"></script>
</body>

</html>
