<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
        <li class="current-menu-item dropdown">
            <li><a href="{{site.url}}">Home</a></li>
        </li>

        <li class="dropdown">
            <a href="{{site.url}}/properties" >Featured Properties</a>
        </li>

        <li>
          <a href="{{site.url}}/features">Features</a>
        </li>

        <li>
            <a href="{{site.url}}/faq">FAQ</a>
        </li>

        <li>
            <a href="{{site.url}}/contact">Contact</a>
        </li>

        <li>
            <a href="https://facebook.com/Dryprop/" target="_blank" rel="_noopener"><i class="fa fa-facebook-official fa-2x fa-nav" aria-hidden="false"></i></a>
        </li>

        <li class="nav-btn">
            <a href="tel:+1-419-810-1851"><i class="fa fa-phone"></i>419-810-1851</a>
        </li>
    </ul>
</div>
